﻿@font-face {
  font-family: 'fonts';
  src: url('../font/fonts.eot?85407211');
  src: url('../font/fonts.eot?85407211#iefix') format('embedded-opentype'),
       url('../font/fonts.woff2?85407211') format('woff2'),
       url('../font/fonts.woff?85407211') format('woff'),
       url('../font/fonts.ttf?85407211') format('truetype'),
       url('../font/fonts.svg?85407211#fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fonts';
    src: url('../font/fonts.svg?85407211#fonts') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fonts";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-home:before { content: '\e800'; font-size: 26px; margin-top: 10px;} /* '' */
.icon-phone:before { content: '\e801'; font-size: 40px; margin-top: 10px;} /* '' */
.icon-twitter:before { content: '\f099'; font-size: 40px; margin-top: 10px;} /* '' */
.icon-pinterest:before { content: '\f231'; font-size: 40px; margin-top: 10px;} /* '' */
.icon-reddit-alien:before { content: '\f281'; font-size: 40px; margin-top: 10px;} /* '' */
.icon-facebook:before { content: '\f30c'; font-size: 40px; margin-top: 10px;} /* '' */
.icon-youtube:before { content: '\f313'; font-size: 40px; margin-top: 10px;} /* '' */
.icon-instagram:before { content: '\f32d'; font-size: 40px; margin-top: 10px;} /* '' */