
.icon-home:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-reddit-alien:before { content: '\f281'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */