/*basic style*/
body
{
    background: linear-gradient(124deg, rgba(124,127,140,1) 0%, rgba(50,50,52,0.9164040616246498) 40%, rgba(61,71,68,1) 71%);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: white;
    margin: auto;
}

h1 {
    text-align: center;
    font: bold;
    font-size: 24px;
}

h2 {
    text-align: center;
    font: bold;
    font-size: 20px;
    font-style: italic;
    color: orangered;
}

p
{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: white;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
}

a
{
    text-decoration:none;
}


/*container style*/
#container
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    padding: 80px 0;
    height: 426px;
    background-image: url("city-wallpaper.jpg");
    background-attachment: fixed;
}

#header2
{
    padding: 80px 0;
    height: 1000px;
    background-image: url("city-wallpaper.jpg");
    background-attachment: fixed;
}

#logo
{
    color:#FFFFFF;
    margin-top: 100px;
    font-size: 120px;
    letter-spacing: 3px;
    font-weight: 900;
    text-shadow: 3px 3px 2px #DDDDDD;
    width: 850px;
    text-align: center;
    margin: 0 auto;
}

.title
{
    position: center;
    color: black;	
    font-size: 26px;
}


.nav
{ 
    background-color: #1C1C1E;
    text-align: center;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px groove #DDDDDD;
    width: auto;
    height: 40px;
}

.content
{
    display:block;

    padding-top: 60px;
    padding-bottom: 60px;
    width: 1000px;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


/*socials panel*/
.socials
{
    width:100%;
    text-align: center;
    background-color: #292929;
    border-top: 1px groove #DDDDDD;
}

.socialdivs
{
    width: 1000px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.fb
{
    width: 100px;
    height: 60px;
    float: left;
}

.fb:hover
{
    background-color: #4668b3;
}

.yt
{
    width: 100px;
    height: 60px;
    float: left;
}

.yt:hover
{
    background-color: #d94348;
}

.instagram
{
    width: 100px;
    height: 60px;
    float: left;
}

.instagram:hover
{
    background-color: #3f729b;
}

.pinterest
{
    width: 100px;
    height: 60px;
    float: left;
}

.pinterest:hover
{
    background-color: #c8232c;
}

.twitter
{
    width: 100px;
    height: 60px;
    float: left;
}

.twitter:hover
{
    background-color: #39a78e;
}

.reddit
{
    width: 100px;
    height: 60px;
    float: left;
}

.reddit:hover
{
    background-color: #ff4500;
}

.contact a
{
    font-size: 24px;
    float: right;
    color: red;
    margin-top: 14px;
    border-left: 2px ridge #DDDDDD;
    padding-left: 20px;
}


/*footer style*/
.footer
{
    border-top: 1px groove #DDDDDD;
    text-align: center;
    background-color: #373636;	
    padding: 10px;
    font-size: 16px;
}

ol
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 20px;
    height: auto;
    line-height: 200%;
    display: inline-block;
    background-color: #292929;
}

ol  a
{
    color: #ffffff;
    text-decoration: none;
    display: block;
}

ol > li
{ 
    float: left; 
    border-right: 1px solid #C0BBBB;
    position: relative; 
    width: 185px; 
    height: auto;
}

ol > li:first-child
{
    border-left: 1px solid #C0BBBB;
    height: 100%;
}

ol > li:hover 
{
    background-color: #CCCCCC;
}

ol > li:hover > a
{
    color: black;
}

ol > li > ul
{ 
    padding: 0; 
    display: none; 
    margin: auto;
    position: absolute; 
    bottom: 100%; 
    width: 185px;
}

ol li:hover > ul
{
    display:block;
}

ol > li > ul > li
{ 
    list-style-type:none; 
    margin:0 10 10 10; 
    background-color: #373636;
    border-top: 1px double #C0BBBB;
}

ol > li > ul > li:hover
{
    background-color: #c34f4f;
}

ol > li > ul > li:hover > a
{
    color: #451717;
}


/* contact info style */
#contact
{
    background-color: #292929;
    float: right;
    height: auto;
    font-size: 26px;
    padding: 20px;
    color: red;
    margin-top: 2px;
    margin-left: : 10px;
    margin-right: 10px;
    padding-left: 40px;
    width: auto;
    border-radius: 4px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 20px;
    -webkit-box-shadow: 4px 6px 5px -1px rgba(0,0,0,0.69);
    -moz-box-shadow: 4px 6px 5px -1px rgba(0,0,0,0.69);
    box-shadow: 4px 6px 5px -1px rgba(0,0,0,0.69);
}


/* Input form style */
#form {
    background-color: #292929;
    float: left;
    width: 400px;
    padding: 50px;
    margin-top: 2px;
    margin-left: : auto;
    margin-right: auto;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 20px;
    -webkit-box-shadow: 4px 6px 5px -1px rgba(0,0,0,0.69);
    -moz-box-shadow: 4px 6px 5px -1px rgba(0,0,0,0.69);
    box-shadow: 4px 6px 5px -1px rgba(0,0,0,0.69);
}

input{
    margin: 5px 0;
    border-radius: 4px;
}

textarea{
    margin: 5px 0;
    border-radius: 4px;
}

input[type=submit]{
    align-self: center;
    width: 100px;
    padding: 5px 15px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #ccc;
    color: black;
}

input[type=submit]:hover{
    background: darkgreen;
    color: white;
}

input[type=submit]:disabled{
    background: #888;
    color: #aaa;
    cursor: default;
}


/* map frame style */
iframe {
    border-radius: 10px;
}


/* Image style*/
.image-box {
    position: relative;
    width: 54%;
}

.image-box img {
    width: 180%;
    height: auto;
    border-radius: 12px;
    border: 2px solid #ddd;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.image-box img:hover {
    opacity: 0.7;
    cursor: pointer;  
}


.image-box:hover > .overlay {
    opacity: 1;
    cursor: pointer;  
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    color:black;
}

.text {
    background-color: orangered;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 26px; 
    padding: 10px 20px;
    margin-bottom: auto;
}



/* button style */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 46px; 
    right: 20px; 
    z-index: 99; /* Make sure it does not overlap */
    border: none; 
    outline: none; /* Remove outline */
    background-color: red; 
    color: white; 
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 12px; 
    border-radius: 10px; 
    font-size: 20px; 
    font: bold;
}

#myBtn:hover {
    background-color: #555; 
}

